/* Загальні */

* {
  box-sizing: border-box;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

body {
  max-width: 2000px;
  margin: 0;
}

input,
button,
.our-services li,
.our-works li {
  display: inline-block;
}

nav,
form,
section,
.our-services,
.our-works {
  text-align: center;
}

h2,
h3,
button,
.person p + p,
input[type="submit"] {
  font-family: "Open Sans Semibold", sans-serif;
}

.menu,
.header-text,
.another-text,
.our-services p,
.our-works h3 + p,
.person img + p {
  font-family: "Open Sans", sans-serif;
}

.orange-text {
  color: #f7600e;
}

.hidden {
  position: absolute;
  left: -9999px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Головний header */

.main-header {
  max-width: 2000px;
  height: 860px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url("../img/background/macbook.png");
  background-color: #3b434c;
  opacity: 0.9;
  position: relative;
  padding: 40px 400px 0;
}

.logo {
  width: 158px;
  height: 18px;
}

.menu {
  width: 90px;
  height: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-image: url("../img/menu.png");
  background-position-x: 60px;
  text-align: left;
  position: absolute;
  top: 40px;
  right: 400px;
}

h1 {
  max-width: 700px;
  color: #ffffff;
  font-family: "Open Sans Extrabold", sans-serif;
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 200px auto 0;
}

.header-text {
  max-width: 750px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: 25px auto 65px;
}

nav button {
  width: 210px;
  height: 50px;
  color: #ffffff;
  border-radius: 10px;
  border-width: 0.01em;
  background-color: #3b434c;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

button[name="here_us"] {
  margin-right: 15px;
}

.main-header button:hover {
  background-color: #f7600e;
  cursor: pointer;
}

/* Список OUR SERVICES */

.serv-container {
  padding: 110px 0;
}

.our-services li {
  width: 220px;
  margin: 0;
}

.our-services div {
  width: 160px;
  height: 160px;
  background-position: center;
  border-radius: 80px;
  border: 1px solid lightgray;
  cursor: pointer;
  margin: 0 auto;
}

.our-services h3 {
  color: #3b434c;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.our-services p {
  color: #3b434c;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.print-design {
  background-image: url("../img/services/print_design.png");
}

.web-design {
  background-image: url("../img/services/web_design.png");
}

.app-design {
  background-image: url("../img/services/app_design.png");
}

.logo-design {
  background-image: url("../img/services/logo_design.png");
}

/* SUBSCRIBE */

input[name="email"] {
  width: 560px;
  height: 50px;
  color: #3b434c;
  border-radius: 10px;
  border-width: 0.01em;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  margin: 0;
  padding-left: 15px;
}

input[type="submit"] {
  width: 269px;
  height: 50px;
  color: #ffffff;
  border-radius: 10px;
  border-width: 0.01em;
  background-color: #f7600e;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.subscribe {
  max-width: 2000px;
  line-height: 250px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url("../img/background/tablet.png");
  background-color: #3b434c;
  opacity: 0.9;
}

/* Cписок OUR WORKS */

h2 {
  width: 210px;
  color: #3b434c;
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin: 100px auto 0;
}

.another-text {
  max-width: 455px;
  color: #3b434c;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 30px auto 100px;
}

.our-works {
  max-width: 1215px;
  margin: auto;
}

.our-works li {
  width: 360px;
  height: 360px;
  border-radius: 10px;
  margin: 14px;
}

button[name="show_more"] {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  color: #3b434c;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin: 90px auto;
  cursor: pointer;
}

.our-works h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin: 85px auto 0;
}

.our-works h3 + p {
  width: 250px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px auto 0;
}

.our-works button {
  width: 210px;
  height: 50px;
  color: #f7600e;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-top: 45px;
}

.our-works li * {
  visibility: hidden;
}

.our-works li:hover {
  background-color: #f7600e;
  opacity: 0.9;
}

.our-works li:hover * {
  visibility: visible;
}

.our-works button:hover {
  cursor: pointer;
}

.imac {
  background-image: url("../img/works/imac.png");
}

.office {
  background-image: url("../img/works/office.png");
}

.business {
  background-image: url("../img/works/business.png");
}

.ipad {
  background-image: url("../img/works/ipad.png");
}

.technology {
  background-image: url("../img/works/technology.png");
}

.macbook {
  background-image: url("../img/works/macbook.png");
}

.person {
  max-width: 2000px;
  height: 500px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url("../img/background/woman.png");
  background-color: #3b434c;
  opacity: 0.9;
  padding: 100px 0 0;
}

.person img + p {
  max-width: 800px;
  color: #ffffff;
  font-size: 25px;
  font-style: italic;
  line-height: 40px;
  margin: 50px auto 0;
}

.person p + p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  margin: 40px auto 0;
}
