.forms {
  margin: 1% 25%;
}

.tables {
  margin: 1% 35%;
}

.bg-gray {
  background-color: #e0e0e0;
}

h1 {
  text-align: left;
  margin-bottom: 10px;
}

p {
  text-align: left;
  font-size: 12pt;
  margin: 5px;
}

form p {
  font-size: 12pt;
  font-weight: bold
}

legend {
  font-weight: bold;
}

label, .block {
  display: block;
  margin: 2px;
}

.inline {
  display: inline;
}

input {
  margin: 2px;
}

input[name="first_name"], input[name="surname"]{
  width: 200px;
}

input[name="age"]{
  width: 50px;
}

input[type="submit"] {
  margin-top: 5px;
}

.more-about input[type="text"] {
  width: 150px;
}

.conclusion input[type="text"], input[type="email"] {
  width: 200px;
}

textarea {
  display: block;
  width: 300px;
  height: 100px;
  resize: none;
  margin-bottom: 10px;
}

label[for] {
  font-weight: bold;
  margin: 4px;
}

.italic-text {
  font-style: italic;
  font-weight: normal;
  padding: 0;
}

.bold-text td, .bold-text {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 400px;
  height: 130px;
  margin-top: 10px;
}

td, th {
  border: 2px solid black;
  text-align: center;
}

.grid td, .grid{
  border: 1px solid gray;
}

.hardcore td {
  padding: 15px;
}