* {
  box-sizing: border-box;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

body {
  font-family: $main-font;
}

a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  position: absolute;
  left: -9999px;
}

.text-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.task-text {
  display: inline-block;
}