body {
  font-family: $main-font;
}

a {
  text-decoration: none !important; // Redefine Bootstrap styles :(
}
//Скажіть будь ласка як правильно "перебивати" Bootstrap стилі? Я задавав питання в групу, але адекватної відповіді
//на жаль не дочеккався. P.S. Директива !important - це ж не вихід :(

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  position: absolute;
  left: -9999px;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}