$main-font: "Roboto Slab" serif;

$main-color: #ffffff;

$main-menu-font-color: #31353e;
$our-news-rm-button-color: #4e5159;

$first-bg-color-button: #dd4b2b;
$second-bg-color-button: #4b4e73;

$first-font-color: #612316;
$second-font-color: #191b29;

$footer-bg-color: #d75d0e;



