.subscribe-block {
  width: 100%;
  background: url("../img/background/tablet.png") center;
  background-color: $main-bg-color;
  padding: 90px 0;
  opacity: 0.8;
  background-size: cover;
}

.feedback-block {
  background: url("../img/background/woman.png") center;
  background-color: $main-bg-color;
  padding: 90px 0 90px;
  opacity: 0.8;
  background-size: cover;
  position: relative;
}

.say-hello-block {
  background: url("../img/background/city.png") center;
  background-color: $main-bg-color;
  opacity: 0.8;
  background-size: cover;
}









