.candidate-families {
  background-color: $secondary-bg-color;
}

.candidate-families-page-container {
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding: 25px;
  margin: 0 15px;

 & .candidate-families-page-item {
   margin-bottom: 20px;
 }
}

