.container {
  padding: 0;
}

.header-section,
.about-us-section,
.practis-area-section,
.our-team-section,
.customer-reviews-section,
.recent-publications-section,
.faq-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 90px 25px 90px;

  & .left-line {
    position: relative;
  }
}

.header-section {
  min-height: 90vh;
  padding: 90px 25px 50px;
}

.about-us-section,
.our-team-section,
.recent-publications-section {
  background-color: $main-bg-color;
  min-height: 80vh;
}

.practis-area-section,
.faq-section {
  background-color: $secondary-bg-color;
  min-height: 80vh;
}

.customer-reviews-section {
  min-height: 80vh;
}

.our-team-subsection {
  @media (max-width: 992px) {
    text-align: center;
  }
}

.customer-reviews-subsection,
.recent-publications-subsection {
  @media (max-width: 992px) {
    text-align: center;

    & .customer-reviews-item-description,
    & .recent-publications-item-description {
      margin-bottom: 30px;
    }
  }

  & .customer-reviews-item-description,
  & .recent-publications-item-description {
    text-align: left;
  }
}
