.members-page {
  .members-page-item {
    & img {
      width: 100%;
    }

    & .member-info {
      padding: 15px;
    }

    padding: 30px;
  }
}

.member-node {
  & img {
    width: 100%;
    padding: 15px;
  }

  & .member-biography {
    padding: 15px;
  }
}
