// Page: Footer
// -----------------------------------------------------------------------------

.page__footer {
  padding: 30px 20px 30px;
}

.site-logo,
.footer-links,
.copyright,
.design-by,
.developed-by,
{
  & p {
    margin: 0;
  }
  padding: 5px;
}
