.arrow-down {
  display: block;
  margin-top: 170px;

  &::after {
    content: url("../img/nav/arrow_down.png");
  }
}

.arrow-left {
  position: absolute;
  top: 50%;
  right: 90%;

  &::after {
    content: url("../img/nav/arrow_left.png");
  }
}

.arrow-right {
  position: absolute;
  top: 50%;
  left: 90%;

  &::after {
    content: url("../img/nav/arrow_right.png");
  }
}

.arrow-down:hover {
  cursor: pointer;
  opacity: 0.8;
}

.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s;
}