.product-list,
.news-list,
.ipsum-dolor-item {
  display: flex;
  justify-content: center;
}

@media (min-width: 320px) {
  .product-list {
    flex-direction: column;
    align-items: center;
  }
  .product-item {
    width: 90%;
    margin: 5px 20px;
  }
  .product-image {
    width: 40%
  }
}

@media (min-width: 640px) {
  .product-list {
    flex-direction: row;
    align-items: flex-start;
  }
  .product-item {
    width: 35%;
    margin: 5px 20px;
  }

  .product-image {
    width: 50%
  }
}

//Main info

@media (min-width: 960px) {
  .product-list {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 150px;
  }

  .product-item {
    width: 30%;
  }

  .product-image {
    width: 30%
  }
}

//Our news

@media (min-width: 320px) {
  .news-list {
    flex-direction: column;
    align-items: center;
  }

  .news-item {
    margin: 10px 10px 30px;
    width: 95%;
  }

  .news-image {
    width: 95%;
  }
}

@media (min-width: 640px) {
  .news-list {
    flex-direction: row;
  }

  .news-item {
    width: 27%;
    margin: 5px 15px;
  }

  .news-image {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .news-list {
    flex-direction: row;
  }

  .news-item {
    width: 32%;
    margin: 5px 15px;
  }

  .news-image {
    width: 100%;
  }
}

@media (min-width: 320px) {
  .ipsum-dolor-item {
    flex-flow: row wrap;
    align-items: center;
    margin: 50px 0;
  }

  .list-content {
    width: 90%;
    padding: 0;
  }

  .ipsum-image {
    width: 90%;
  }

  .dish {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .ipsum-dolor-item {
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px 0;
  }

  .list-content {
    width: 70%;
    padding: 0;
  }

  .ipsum-image {
    width: 70%;
  }

  .dish {
    text-align: center;
  }
}

@media (min-width: 940px) {
  .ipsum-dolor-item {
    flex-flow: row nowrap;
    justify-content: center;
    margin: 50px 0;
  }

  .list-content {
    width: 40%;
    padding: 0 15px;
    margin: 10px 30px 0;
  }

  .ipsum-image {
    width: 90%;
  }

  .dish {
    text-align: left;
  }
}


.main-info-block {
  background: url("../img/background/header.jpg") center;
  background-size: cover;
}

.newsletter-block {
  background: url("../img/background/newsletter.jpg") center;
  background-size: cover;
}

.our-news-block {
  background-color: #edeff1;
}
