.subscribe-email {
  width: 100%;
  max-width: 560px;
  height: 50px;
  color: $main-bg-color;
  border-radius: 10px;
  border-width: 0.01em;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  margin: 5px 20px;
  padding-left: 15px;
}

.say-hello-email,
.say-hello-subject,
.say-hello-message {
  margin: 5px 0 15px;
  color:$main-bg-color;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  padding-left: 15px;
}

.say-hello-email,
.say-hello-subject {
  width: calc(50% - 15px);
  max-width: 400px;
  height: 50px;
}

.say-hello-message {
  width: 100%;
  max-width: 900px;
  min-width: 200px;
  height: 200px;
  margin: 15px 0;
  resize: none;
}

.say-hello-email {
  margin-right: 25px;
}