.task-input, .update-task-input {
  border: none;
  background: transparent;
}

.task-input {
  @include text-style($main-font, 20px, 600, $main-text-color, 1px, 45px);

  width: 75%;
  padding-left: 15px;
}

.update-task-input {
  @include text-style($main-font, 20px, 400, $main-text-color, 1px, 45px);

  width: 60%;
  padding-left: 35px;
}

.task-complete {
  zoom: 2;
  position: absolute;
  left: 0;
  top: 5px;

  &:hover {
    cursor: pointer;
  }
}