@media (min-width: 640px) {
  .logo {
    float: none;
    margin: 20px auto;
  }

  .main-nav .content {
    margin: 10px 0 32px;
  }
}

@media (min-width: 850px) {
  .logo {
    margin: 0;
    float: left;
  }
}