h1 {
  color: $main-color;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-family: $main-font;
}

@media (min-width: 320px) {
  h1 {
    font-size: 23px;
    font-weight: 300;
    margin: 10px;
  }
}

@media (min-width: 640px) {
  h1 {
    font-size: 72px;
    font-weight: 300;
    margin: 10px;
  }
}

.main-header-block h2 {
  color: $main-color;
  font-family: $main-font;
  margin: 10px;
}

@media (min-width: 320px) {
  .main-header-block h2 {
    font-size: 18px;
    font-weight: 200;
    line-height: 36px;
  }
}

@media (min-width: 640px) {
  .main-header-block h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
  }
}

.our-news-block h2 {
  color: #31353e;
  font-family: $main-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  margin: 0 0 70px;
}

.newsletter-block h2 {
  color: $main-color;
  font-family: $main-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  margin: 0 0 10px;
}

.product-list h3 {
  color: $main-color;
  font-family: $main-font;
}

@media (min-width: 320px) {
  font-size: 26px;
  font-weight: 500;
}

@media (min-width: 640px) {
  font-size: 30px;
  font-weight: 700;
}

.news-list h3 {
  color: #31353e;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 700;
}

.product-detail {
  color: $main-color;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.news-detail {
  color: #31353e;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.newsletter-block .another-text {
  max-width: 500px;
  color: $main-color;
  font-family: $main-font;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto 45px;
}

.ipsum-dolor-block h3 {
  color: $second-font-color;
  font-family: $main-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 0;
}

.ipsum-dolor-block .another-text {
  max-width: 100%;
  color: $second-font-color;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

// На жаль шрифт "Proxima Nova" платний :(
.footer-image-block .another-text {
  width: 100%;
  max-width: 550px;
  color: $main-color;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto;
}