.content {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
  position: relative;
}

.our-works-block {
  padding: 90px 0 0;
}

.services-container,
.our-team-block,
.say-hello-block {
  padding: 90px 0;
}

.input-container {
  max-width: 830px;
  margin: 0 auto;
  padding: 10px;
}
