.content {
  max-width: 1200px;
  padding: 0 15px;
}

.menu-link-list {
  display: flex;
  justify-content: flex-end;
}

.our-news-block {
  padding: 70px 0;
}

.newsletter-block {
  padding: 70px 0 100px;
}

.newsletter-block {
  & .content {
    max-width: 530px;
  }
}

.list-content {
  width: 55%;
  padding: 40px 20px;
}

.dish {
  padding: 20px 0;
}

.ipsum-dolor-block {
  padding: 80px 0 0;
}

@media (min-width: 320px) {
  .main-info-block {
    padding: 30px 0;
  }

  .content {
    margin: 20px auto;
  }

  .main-nav {
    display: none;
  }

  .product-list {
    margin-bottom: 30px;
  }
}

@media (min-width: 850px) {
  .main-info-block {
    padding: 130px 0 90px;
  }

  .content {
    margin: 20px auto;
  }

  .main-nav {
    display: block;
  }
}