.header-navigation .navbar-nav .nav-link {
  color: $secondary-text-color;
}

.header-navigation .nav-link {
  text-align: center;
}

.footer-navigation .navbar-nav .nav-link {
  color: $main-text-color;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1.0rem;
  padding-left: 1.0rem;
}

.navbar-expand-md {
  & .brand {
    color: $main-text-color;
  }
}