%button-style {
  width: 180px;
  height: 50px;

  background-color: $secondary-bg-color;

  border-radius: 25px;
  display: inline-block;
  text-align: center;
}

%button-style-hover {
  opacity: .8;
}

.navbar {
  & .purchase-link {
    & a {
      @include text-style($main-font, 12px, 700, $main-bg-color, 1px, 50px);
      @extend %button-style;
      margin: 10px 10px 10px 25px;

      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      text-transform: uppercase;

      &:hover {
        @extend %button-style-hover;
      }
    }
  }
}

.header-section {
  & .header-link a {
    @include text-style($main-font, 12px, 700, $main-text-color, 1.2px, 50px);
    @extend %button-style;

    background-color: $main-bg-color;
    text-transform: uppercase;

    &:hover {
      @extend %button-style-hover;
    }
  }
}

.concert-section {
  & .purchase-link {
    & a {
      @include text-style($main-font, 12px, 700, $main-text-color, 1.2px, 50px);
      @extend %button-style;

      background-color: $main-bg-color;
      text-transform: uppercase;

      &:hover {
        @extend %button-style-hover;
      }
    }

    margin-top: 30px;
  }
}

.memory-section {
  & .memory-link {
    & a {
      @include text-style($main-font, 12px, 700, $main-bg-color, 1.2px, 50px);
      @extend %button-style;

      text-transform: uppercase;

      &:hover {
        @extend %button-style-hover;
      }
    }
  }
}

.apps-section {
  .apps-link {
    margin: 5px
  }
}


//
//.subscribe-button {
//  @include text-style($main-font, 16px, 600, $secondary-text-color, 0.65px, 1px);
//  @extend %button-style;
//  text-transform: uppercase;
//
//  width: 145px;
//  height: 38px;
//
//  border: none;
//
//  &:hover {
//    @extend %button-style-hover;
//  }
//}
//
//.subscribe-input-col {
//  padding: 3px 5px 0 3px;
//}
//
//.subscribe-button-col {
//  padding: 3px 3px 16px 3px;
//}
