%button-style {
  width: 180px;
  height: 50px;

  background-color: $main-bg-color;

  display: inline-block;
  text-align: center;
}

%button-style-hover {
  background-color: $secondary-bg-color;
}

.contact-form-submit-button {
  @include text-style($main-font, 16px, 600, $main-text-color, 0.65px, 1px);
  @extend %button-style;
  text-transform: uppercase;

  &:hover {
    @extend %button-style-hover;
  }
}
