.books-list {
  & h2 {
    @include text-style($main-font, 22px, 600, 26px);

  }

  & .book-author {
    @include text-style($main-font, 18px, 400, 20px);

    margin-bottom: 12px;
  }

  & .book-genre {
    @include text-style($main-font, 18px, 400, 20px);

    margin-top: 12px;
  }

  margin-bottom: 30px;

  & a {
    color: #000000;

    &:hover {
      text-decoration: underline;
    }
  }
}



